<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <style>
            caption { 
              display: table-caption;
              text-align: center;
            }
        </style>
        <h1> IceCream Company </h1>
        <h2> Welcome! </h2>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <a href="{% url 'homePage' %}">Home</a> |
        <a href="{% url 'tubs' %}">List of Tubs</a> |
        <a href="{% url 'stores' %}">List of Stores</a> 
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
