<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'IceCreamApp/style.css' %}">
    </head>
    <body>
        <h1> IceCream Company </h1>
        <h2> Welcome! </h2>
        
        <a href="{% url 'homePage' %}">Home</a> |
        <a href="{% url 'tubs' %}">List of Tubs</a> |
        <a href="{% url 'stores' %}">List of Stores </a> 
        <img src="{% static 'IceCreamApp/icecream.png' %}" alt="ice cream" width="42" height="51">
        {% block content %}
            <p> <mark> Please click above options </mark> </p>
            <img src="{% static 'IceCreamApp/home.jpg' %}" alt="ice cream" width="500" height="500">
        {% endblock %}
    </body>
</html>
