{% extends 'IceCreamApp/homePageBase.html' %}
{% block content %}
<div class="container">
    <p> You can view each store Information by clicking on the store name </p>
    <table class="styled-table">
        <caption><b>List of Stores</b></caption>
        <tr>
            <th>ID</th>
            <th>Store Name</th>
            <th>Location</th>
            <th>Contact</th>
        </tr>
        {% for s in stores %}
        <tr>
            <td>{{ s.id }}</td>
            <td><a href={{s.id}}>{{ s.name }}</a></td>
            <td>{{ s.location }}</td>
            <td>{{ s.contact_email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}